$text-container-width: 600px;
$text-font-size: 40px;
$text-bg-color: rgba(155, 227, 63, 0.3);
$text-color: yellow;

// corner
$width: 3px;
$ratio: 5;

body {
    padding: 0;
    margin: 0;
    border: 0;

    background-color: black;

    color: white;
}

.main {
    font-size: $text-font-size;

    padding: 10px 0 0 10px;
}

.inline-block {
    display: inline-block;
}

.text-container {
    position: relative;
    box-sizing: border-box;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: $text-container-width;

    background-color: $text-bg-color;

    animation: background-color-change 1s infinite;

    .text {
        > span {
            font-size: $text-font-size;
        }
        
        // clear space between inline block
        font-size: 0;
        
        margin: 0.05*$text-font-size+($ratio - 1)*$width 0 0.05*$text-font-size+($ratio - 1)*$width 0;
        color: $text-color;
        font-family: "Custom Font";
        
        position: relative;
        
        .separator {
            position: relative;
            bottom: 3px;
            
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    .corner {
        .left-top {
            > div {
                background-color: yellow;
            }

            position: absolute;
            top: 0;
            left: 0;

            #left-top-1 {
                width: $width * $ratio;
                height: $width;
            }

            #left-top-2 {
                width: $width;
                height: $width * ($ratio - 1);
            }
        }

        .right-top {
            > div {
                background-color: yellow;
            }

            position: absolute;

            top: 0;
            right: 0;

            #right-top-1 {
                width: $width * $ratio;
                height: $width;
            }

            #right-top-2 {
                margin-left: $width * ($ratio - 1);

                width: $width;
                height: $width * ($ratio - 1);
            }
        }

        .left-bottom {
            > div {
                background-color: yellow;
            }

            position: absolute;

            bottom: 0;
            left: 0;

            #left-bottom-1 {
                width: $width;
                height: $width * ($ratio - 1);
            }

            #left-bottom-2 {
                width: $width * $ratio;
                height: $width;
            }
        }

        .right-bottom {
            > div {
                background-color: yellow;
            }

            position: absolute;

            bottom: 0;
            right: 0;

            #right-bottom-1 {
                margin-left: $width * ($ratio - 1);

                width: $width;
                height: $width * ($ratio - 1);
            }

            #right-bottom-2 {
                width: $width * $ratio;
                height: $width;
            }
        }
    }
}

@keyframes background-color-change {
    0% {
        background-color: $text-bg-color;
    }

    50% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: $text-bg-color;
    }
}

#btnToggle {
    cursor: pointer;
    
    position: fixed;
    
    bottom: 5px;
    right: 5px;
    
    padding: 5px;
    
    border-radius: 5px;
    border: 1px solid grey;
}

#audio-tag {
    position: fixed;
    
    bottom: 20px;
    left: 10px;
}
